@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.nav-bar{
    display: flex;
    justify-content: center;
    padding: 1.6rem 6rem;
}

.logo{
    display: block;
    margin: auto auto auto 16rem;

}

.nav-list ul{
    display: flex;
    align-items: center;
    list-style: none;
}